@import 'variables';

@mixin set-font($fz, $lh, $fw: false) {
  font-size: $fz;
  line-height: $lh;

  @if $fw {
    font-weight: $fw;
  }
}

@mixin set-font($fz, $lh, $fw: false) {
  font-size: $fz;
  line-height: $lh;

  @if $fw {
    font-weight: $fw;
  }
}

@mixin base-layout-center {
  padding-left: 0;
  padding-right: 0;
  margin-inline: auto;
  width: 100%;
  max-width: 1160px;

  @media (max-width: $desktop) {
    padding-left: 60px;
    padding-right: 60px;
    margin-inline: initial;
  }

  @media (max-width: $tabletMax) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
