$colors: (
  primary: #1e90ff,
  // black: #2b323e,
  black: #2b3340,
  divider: #c7c7c7,
  disabled-background: #e8e8e8,
  disabled-color: #666666,

  grey-200: #8c9098,
  grey-100: #9ea5af,
  grey-50: #b9c2cb,
  grey-45: #bdc0c6,
  grey-40: #e3e4e7,
  grey-30: #e4e7e9,
  grey-20: #eaedef,
  grey-11: #f7f8fa,
  grey-10: #f7f8f8,
  pearl-grey-10: #ecedef,
  cultured: #f6f9fa,
  red: #f65252,
  orange: #ff9345,
  green: #35ae20,
  white: #ffffff,
  light-blue: #f0fafe,
  light-text-secondary: #abbac8,
  light-text-primary: #434c5e,
  success: #90ba5e,
  success-light: #e9f1df,
  content-secondary: #758494,
);

$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-lg: 16px;

$btn-min-height: 48px;
$btn-sm-min-height: 36px;
$btn-lg-min-height: 56px;
$btn-xl-min-height: 80px;

// $base-font-size: 16px;

// //breakpoints
// $phone: 400px;
// $phone-wide: 480px;
// $tablet-small: 640px;
// $tabletMax: 767px;
// $tablet: 768px;
// $tablet-air: 820px;
// $tablet-wide: 992px;
// $desktop: 1248px;
// $desktop-normal: 1280px;
// $desktop-wide: 1440px;
