<div class="main">
  <table class="table-game" (loadingProgress)="onLoadingProgress($event)" (loaded)="onLoaded()"></table>

  @if(!loaded){
  <div class="progress-loader">
    <p class="progress-loader__title">TON Poker</p>

    {{ loadingProgress }} %
  </div>
  } @if (!gameInProgress) {
  <div class="panel">
    <p class="panel__title">TON Poker</p>

    <div class="panel__item">
      <div class="panel__item-name">Ваш ID</div>

      <div class="panel__item-value">тут айди</div>
    </div>

    <div class="panel__item">
      <div class="panel__item-name">Баланс</div>

      <div class="panel__item-value">2000 $</div>
    </div>

    <button type="button" class="btn">Пополнить</button>

    <button type="button" class="btn btn-primary" (click)="play()">Играть</button>
  </div>
  }
</div>
